body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-width: 1400px;
}

.container {
    margin: auto;
    text-align: center;
}

.header {
    padding: 50px;
    max-width: 1100px;
    font-size: 120%;
    margin: auto;
    border-bottom: 1px solid black;
}

.main-area {
    max-width: 1100px;
    margin: 25px 25px;
    padding: 25px;
    box-sizing: border-box;
    margin: auto;
}

.footer {
    margin-top: 175px;
    background-color: lightgray;
    padding: 60px;
    color: gray;
}

/* form style */
.newsandupdatesform {
    padding: 100px;
    padding-bottom: 0px;
    font-size: 110%;
    margin: auto;
    margin: 25px 0px;
    box-sizing: border-box;
    color: gray;
}

.hidden-label {
    position: absolute;
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
}

input[type="text"],
input[type="email"] {
    width: 25%;
    box-sizing: border-box;
    margin: auto;
    display: block;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 75%;
    padding-left: 10px;
} 
input[type="submit"] {
    display: block;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    color: gray;
    padding: 15px;
    font-size: 75%;
    margin-top: 10px;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    font-weight: bold;;
    border: none;
    outline: none;
}


input[type="text"]:focus,
input[type="email"]:focus {
    border: .5px solid gray;
    outline: none;
}

/* end form style */


.caption {
    color: gray;
    font-size: 70%;
    text-align: left;
}
.copyright {
    padding-top: 75px;
    font-size: 40%;
}


            /* site navigation */
            .site-nav {
                margin: auto;
            }

            .site-nav ul {
                margin: 0;
                padding: 0;
                position: absolute;
                min-width: 1100px;
            }

            .site-nav li {
                list-style: none;
                float: left;
            }

            .site-nav a {
                display: block;
                text-decoration: none;
                color: black;
                padding: 0px 76.5px;
            } 

            .site-nav a:hover {
                border-bottom: .5px solid black;
            }
            /* end site navigation */



            /* footer nav */
            .site-navfooter {
                margin-left: 140px;
                outline: none;
                border: none;
            }

            .site-navfooter ul {
                margin: 0;
                padding: 0;
                position: absolute;
                min-width: 1100px;
            }

            .site-navfooter li {
                list-style: none;
                float: left;
                padding: 0px 30px;
            }

            .site-navfooter a {
                display: block;
                text-decoration: none;
                color: gray;
                padding: 5px 35px 5px 35px;
            } 

            .site-navfooter a:hover {
                border-bottom: .5px solid gray;
            }
            /* end footer nav */










.fix {
    clear: both;
}

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}

.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }