body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 100px;
    color: gray;
}

.headnav a:hover {
    border-bottom: .5px solid black;
}

footer {
    margin-top: 50%;
}

.footerlist li{
    display: inline-block;
    padding: 0% 10% 0% 10%;
}

.list {
    list-style: none;
    line-height: 200%;
    font-size: 120%;
}

.headshot {
    position: absolute;
    top: 100px;
    left: 250px;
    width: 30%;
}

.logo {
    width: 15%;
    position: absolute;
    top: 10%;
    right: 23.5%;
}

p {
    position: absolute;
    right: 15%;
    top: 25%;
    width: 400px;
    color: black;
    line-height: 200%;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
    animation: fadein 3s;
}
        
        @keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        
        @-moz-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        
        @-webkit-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        
        @-ms-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }
        
        @-o-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }

    

    /*headshot animation*/
        .slidein {
            animation: slide-right 1s;
            animation-name: slide;
        }

        @keyframes slide {
            from {
                margin-left: -100%;
            }

            to {
                margin-left: 0%;
            }
        }

.return {
    position: absolute;
    bottom: 10px;
    right: 10px;
}


        
         
        
            

