body {
    background-image: url("https://kevinrhoa.github.io/webdev1/assignments/finalproject/images/portrait.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: max-content;
    height: 1800px;
}

.grid-gallery {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        justify-content: center;
        align-items: center;
        grid-gap: 2rem;
        margin: 25px;;
    }
