
body {
    background-image: linear-gradient(to top, gray, yellow);
    line-height: 220px;
    text-align: center;

}

h1 {
    font-size: 80px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}